{{#section 'css'}}
<title>Cooking</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/gu0cbp08ls6qbmr0wkd4q8g0i3y11sh9nq2lsem2wvz2wny1/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#txtFullDes',
        height: 600,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
    $("#input-image").fileinput({
        theme: "fa",
        dropZoneEnable: false,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
    });

    $("#thumbnail").fileinput({
        theme: "fa",
        dropZoneEnable: false,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
    });
    $("#input-video").fileinput({
        theme: "fa",
        dropZoneEnable: false,
        allowedFileExtensions: ['mp4'],
    });
</script>
<script>
    function ValidateForm() {
        var Name = document.frmPostCourse.namecourse.value;
        var price = document.frmPostCourse.price.value;
        var sale = document.frmPostCourse.sale.value;
        if (Name === "") {
            alert(' Please fill out your name course');
            return false;
        }
        else if (price === "" ) {
            alert('Please fill out price of course');
            return false;
        }
        else if (sale === "" ) {
            alert('Please fill out sale of course or if not , please enter 0');
            return false;
        }
        else if (document.getElementById("input-image").files.length == 0) {
            alert('Please upload image');
            return false;
        }
        else if (document.getElementById("input-video").files.length == 0) {
            alert('Please upload video');
            return false;
        }
        else if (document.getElementById("thumbnail").files.length == 0) {
            alert('Please upload thumbnail');
            return false;
        }
        else
            return true;
    }
</script>

{{/section}}
{{>banner}}
<!--================Blog Area =================-->

<section class="blog_area">
    <div class="container">
        <form class="row login_form" action="" method="POST" id="frmPostCourse" name="frmPostCourse"
            enctype="multipart/form-data" onsubmit="return ValidateForm()">
            <div class="card w-100">
                <div class="card-header fw-bold text-center"><b> Điền thông tin công thức muốn đăng </b></div>
                <div class="card-body">
                    <div class="col-md-12 form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <label for="Namecourse">Tên công thức</label>
                                        <input type="text" class="form-control" id="namecourse" name="namecourse"
                                            placeholder="Tên công thức" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Namecourse'">
                                        <span style="color: red;" id="cname"><b></b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <label for="Namecourse">Tổng quan</label>
                                        <input type="text" class="form-control" id="summary" name="summary"
                                            placeholder="Tổng quan" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Summary'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="txtFullDes">Dụng cụ</label>
                            <textarea class="form-control" name="fullDes"  cols="30" rows="10"></textarea>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="txtFullDes">Nguyên liệu</label>
                            <textarea class="form-control" name="fullDes"  cols="30" rows="10"></textarea>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="txtFullDes">Cách chế biến</label>
                            <textarea class="form-control" name="fullDes"  cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-md-12 form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <label for="Namecourse">Giá</label>
                                        <input type="number" class="form-control" id="price" name="price"
                                            placeholder="Giá" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Price'">
                                        <span style="color: red;" id="cprice"><b></b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <label for="Sale">Giảm giá ( Nếu có)</label>
                                        <input type="number" class="form-control" id="sale" name="sale"
                                            placeholder="Giảm giá" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Sale'">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <label for="inputGroupSelect01">Loại công thức</label>
                                        <br>
                                        <select id="topicid" name="topicid">
                                            <option value="1" selected>Xào</option>
                                            <option value="2">Hấp</option>
                                            <option value="3">Luộc</option>
                                            <option value="4">Nướng</option>
                                            <option value="5">Quay</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="card">
                            <div class="card-title text-center"><b> Hình mô tả </b></div>
                            <div class="file-loading card-body">
                                <input id="thumbnail" name="thumbnail" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="card">
                            <div class="card-title text-center"><b> Các hình phụ </b></div>
                            <div class="file-loading card-body">
                                <input id="input-image" name="input-image" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="card">
                            <div class="card-title text-center"><b> Video hướng dẫn nấu ăn </b></div>
                            <div class="file-loading card-body">
                                <input id="input-video" name="input-video" type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="button button-primary float-right">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--================Infomation =================-->