{{#section 'css'}}

{{/section}}

{{#section 'js'}}
<script>
	$('#frmRegister').on('submit', function (e) {
		e.preventDefault();
		var check = 0;
		var check1 = 0;
		const username = $('#name').val();
		const email = $('#email').val();
		const password = $('#password').val();
		const confirm = $('#confirmPassword').val();
		const fullname = $('#fullname').val();
		if (username.length === 0) {
			document.getElementById("cname").innerHTML = "Please enter username!";
			check = 1;
		}
		else {
			document.getElementById("cname").innerHTML = "";
		}
		if (email.length === 0) {
			document.getElementById("cemail").innerHTML = "Please enter your email!";
			check = 1;
		}
		else {
			document.getElementById("cemail").innerHTML = "";
		}
		if (password.length < 6) {
			document.getElementById("cpassword").innerHTML = "Password at least 6 characters!";
			check = 1;
		}
		else {
			document.getElementById("cpassword").innerHTML = "";
		}
		if (password === confirm) {
			document.getElementById("cconfirm").innerHTML = "";
		}
		else {
			document.getElementById("cconfirm").innerHTML = "Not match password";
			check = 1;
		}
		if (fullname.length === 0) {
			document.getElementById("cFullname").innerHTML = "Please enter your full name!";
			check = 1;
		}
		else {
			document.getElementById("cFullname").innerHTML = "";
		}

		$.getJSON(`/is-available?email=${email}`, function (data) {
			if (data === true) {
				$('#frmRegister').off('submit').submit();
			} else if (data === false) {
				document.getElementById("cemail").innerHTML = "Email already exist. Please change!";
			}
		});

	});
</script>
{{/section}}


{{>banner}}
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Already have an account?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this
							is the</p>
						<a class="button button-account" href="signin">Login Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Create an account</h3>
					<!--================Form register =================-->
					<form class="row login_form" action="/register" method="post" id="frmRegister" name="frmRegister">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="Username"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'"
								pattern="[a-zA-Z0-9]{1,15}" title="Username includes only letters and numbers. ex: An1">
							<span style="color: red;" id="cname"><b></b></span>
						</div>
						<div class="col-md-12 form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
							<span style="color: red;" id="cemail"><b></b></span>
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Password'" pattern="[a-zA-Z0-9]{1,15}"
								title="Password includes only letters and numbers. ex: An1">
							<span style="color: red;" id="cpassword"><b></b></span>
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
								placeholder="Confirm Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Confirm Password'">
							<span style="color: red;" id="cconfirm"><b></b></span>
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="fullname" name="fullname"
								placeholder="Full name" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Full name'">
							<span style="color: red;" id="cFullname"><b></b></span>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-register w-100">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->