{{#section 'css'}}
<title>Cooking</title>
{{/section}}
{{>banner}}
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img src="/img/home/background_home.png" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Đăng nhập</h3>
					<form class="row login_form" action="/signin" id="contactForm" method="POST">
						{{#if message}}
						<div class="col-md-12 form-group alert {{type}}">
							<strong>{{message}}</strong>

						</div>
						{{/if}}
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Mật khẩu" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Password'">
						
							<div class="creat_account">
								<input type="checkbox" id="keepLoggedIn" name="keepLoggedIn">
								<label for="keepLoggedIn">Ghi nhớ</label>
							</div>
						
							<button type="submit" value="submit" class="button button-login w-100">Đăng nhập</button>
							<a href="#">Quên mật khẩu?</a>
							<p>Chưa có tài khoản? <a href="/register">Đăng ký</a> </p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->