<form method="POST" action="">
  <div class="card">
    <h5 class="card-header">
      Thêm loại công thức mới
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatName">Tên loại</label>
        <input type="text" class="form-control" id="n" name="namecategory" autofocus>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/admin/category" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Quay lại
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </div>
  </div>
</form>