<form method="POST">
  <div class="card">
    <h5 class="card-header">
      Loại
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">STT</label>
        <input type="text" class="form-control" id="txtid" name="id" value="{{this.cate.id}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtCatName">Loại</label>
        <input type="text" class="form-control" id="txtnamecategory" name="namecategory" value="{{this.cate.namecategory}}"
          autofocus>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/admin/category" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Quay lại
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/admin/categories/del">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Xóa
      </button>
      <button type="submit" class="btn btn-outline-success" formaction="/admin/categories/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </div>
  </div>
</form>