<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="dashboard pundefined" style="margin-top: 20px; margin-bottom:30px; text-align: center">
                        Dashboard </h1>
                </div>


                <div class="card-group" style="height: 400px;">
                    <div class="card " >
                        
                        <div class="card-body text-center">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="/admin/category" class="linkDash">
                                        <img alt src="/img/dashboard/list.png" style="height: 200px; width 200px; margin-top: 40px;" />
                                        <span style="display: block;"><h2 style="color: mediumblue;margin-top: 4px;">Categories</h2></span>
                                    </a>
                                </div>
                            </div>
                            <p class="card-text">Categories management</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <a href="/admin/allbytopic" class="linkDash">
                                        <img alt src="/img/dashboard/course.png" style="height: 200px; width 200px; margin-top: 40px;" />
                                        <span style="display: block;"><h2 style="color: mediumblue">Course</h2></span>
                                    </a>
                                </div>
                            </div>
                            <p class="card-text">Course management</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card-group" style="height: 500px;">
                <div class="card " style="margin-bottom: 60px;">
                   
                    <div class="card-body text-center">
                        <div class="icon-wrapper">
                            <div class="icon">
                                <a href="/admin/teacher" class="linkDash">
                                    <img alt src="/img/dashboard/profile.png" style="height: 200px; width:200px;margin-top: 40px;" />
                                    <span style="display: block;"><h2 style="color: mediumblue; margin-top: 10px;">Teacher/Student</h2></span>
                                </a>
                            </div>
                        </div>
                        <p class="card-text">Teacher/Student management</p>
                    </div>
                </div>
                <div class="card " style="margin-bottom: 60px;">
                    <div class="card-body text-center">
                        <div class="icon-wrapper">
                            <div class="icon">
                                <a href="/admin/info" class="linkDash">
                                    <img alt src="/img/dashboard/gear.png" style="height: 200px; width 200px;margin-top: 40px;" />
                                    <span style="display: block;"><h2 style="color: mediumblue">My account</h2></span>
                                </a>
                            </div>
                        </div>
                        <p class="card-text">Account management</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>